name: CI

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [binary:stable]
    steps:
    - uses: actions/checkout@v1
    - uses: iffy/install-nim@v5
      with:
        version: ${{ matrix.version }}
    - name: Install deps
      run: |
        nimble refresh
        nimble install -y
    - name: Install some Linux Deps
      run: |
        sudo apt-get update -q
        sudo apt-get install -y dbus libdbus-1-dev
    - name: Test a system that is not supported
      run: nimble test -d:testkeyringnotsupported
    - name: Install all Linux Deps
      run: |
        sudo apt-get update -q
        sudo apt-get install -y dbus libdbus-1-dev gnome-keyring
    - name: Test
      run: dbus-run-session -- bash -c 'echo "" | gnome-keyring-daemon --unlock && nimble test'

  other:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        version: [binary:stable]
        os: [macOS-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: iffy/install-nim@v5
      with:
        version: ${{ matrix.version }}
    - name: Install deps
      run: |
        nimble refresh
        nimble install -y
    - name: Test
      run: nimble test

  